@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Buttons */
  .btn-primary {
    @apply bg-primary text-white  rounded-md
           font-medium
           transition-all duration-300 ease-in-out
           hover:bg-blue-900
           active:scale-95
           md:px-5 px-4  py-2
           text-[12px]
           md:text-base;
  }

  .btn-secondary {
    @apply bg-yellow-500
    text-secondary
      border
    border-secondary
      rounded-md
      font-medium
      flex
      items-center
      transition-all duration-300
      gap-2
    hover:bg-yellow-600
    md:px-5 px-4  py-2
           text-[12px]
           md:text-base;
  }

  .btn-outline {
    @apply border border-primary text-primary rounded-md
           font-medium
           transition-all duration-300
           hover:bg-primary/20 hover:text-secondary
           md:px-5 px-4  py-2
           text-[12px]
           md:text-base;
  }

  .btn-ghost {
    @apply text-primary  rounded-md
           font-medium
           transition-all duration-300
           hover:bg-primary/10
           md:px-5 px-4  py-2
           text-[12px]
           md:text-base;
  }

  /* Card */
  .card {
    @apply bg-background p-6 rounded-xl shadow-md;
  }
  .container {
    @apply mx-auto px-4 
    max-w-[95vw];
  }

  /* Custom Card */
  .custom-card {
    @apply p-6
      rounded-lg
      bg-white dark:bg-myGray/5
      border border-black/5
      dark:border-white/5
      shadow-md
      transition-all duration-500
      hover:-translate-y-1
      hover:shadow-2xl
      hover:border-primary;
  }

  /* Dark Mode Shadow */
  .dark .custom-card {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  }

  .dark .custom-card:hover {
    border-color: theme("colors.primary");
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.7);
  }

  /* Typography */
  .heading {
    @apply text-3xl font-bold;
  }

  .subheading {
    @apply text-lg font-semibold text-secondary;
  }

  .subtext {
    @apply text-accent leading-relaxed;
  }
}

/* Global Theme Transition */
* {
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease;
}
